.form-wrapper-container {
  /* border: 1px solid red; */
  width: 1200px;
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.wrapper {
  display: flex;
}

.name-input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid red; */
}
.profile_img_editable {
  border-radius: 50px;
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.form-group {
  width: 49%;
}
.other {
  position: relative;
  left: 12.5rem;
  /* border: 1px solid red; */
}
.image-wrapper {
  display: flex;
}
.image-wrapper > .mb-3 > .form-control {
  margin-top: 2rem;
  padding-left: 20%;
}
.image-wrapper > .mb-3 {
  margin-left: 1rem !important;
  width: 100%;
  padding: 2rem;
  border: 1px dotted #000 !important;
}
/***Button save***/

.save-btn {
  position: relative;
  left: 40%;
  padding: 1rem 4rem;
}
