:root {
  --logo-color: #2079dff3;
  --logo-size: 1.6rem;
  --btn-bg-color: white;
  --profile-wrapper-border: #f1f1f1;
  --right-section-font-color: #717171;
}
.logo_wrapper {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: var(--logo-size);
  color: var(--logo-color) !important;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.nav-link {
  padding: 0.2rem 2rem 0 2rem !important;
  color: black !important;
  border-right: 1px solid var(--profile-wrapper-border);
}
.last-link {
  border-right: none;
}

.me-auto {
  border: 1px solid #e2e2e2;
  padding: 0.5rem;
  border-radius: 30px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}
.btn-dark {
  background-color: #5c5c5c;
  padding: 0 2rem;
}

.right_section_wrapper {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.right_section_wrapper div {
  /* border: 1px solid blue; */
  padding-top: 0.1rem;
  font-size: 1.5rem;
  color: var(--right-section-font-color);
}
.user_profile_wrapper {
  border: 1px solid var(--profile-wrapper-border);
  border-radius: 20px;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 80px;
  cursor: pointer;
}
.globe {
  cursor: pointer;
}
.globe i {
  font-size: 1.2rem;
}
.btn-light {
  font-size: 0.9rem;
  border-radius: 20px;
  background-color: var(--btn-bg-color);
}

.navbar {
  background-color: white !important;
  border-bottom: 1px solid #e2e2e2;
  padding: 1rem;
}
.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}
/*****profile_dropdown*****/
.card {
  position: absolute;
  right: 1rem;
  top: 4rem;
  width: 15rem;
}
.line {
  width: 100%;
  height: 2px;
  background-color: var(--profile-wrapper-border);
}
.list-group-item {
  font-size: 0.9rem;
  border: none;
}
